<%- include('../partials/header') %>

<h2 >What are your Dev Skills?</h2>

<button class="btn btn-dark btn-lg"><a href="/skills/new">Add Skill</a></button>
<br>
<ul >
  <% skills.forEach(function(s) { %>
    <li>
    <a href="/skills/<%=s.id%> ">
      <%= s.skill %>
    </a>
    </li>
  <% }); %>
</ul>

    <%- include('../partials/footer') %>