<%- include('../partials/header') %>

<h1>Add Skill</h1>

<form action="/skills" method="POST" autocomplete="off">
    <input type="text" class="form-control" placeholder="Enter Skill Here" aria-label="" aria-describedby="basic-addon1" name="skill">
    <button class="btn btn-success">Add Skill</button>
</form>

    <%- include('../partials/footer') %>
