<%- include('../partials/header') %>

<h1><%= message %></h1>
<h2>A team of highly trained monkeys has been dispatched to deal with this situation</h2>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
