body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: steelblue;
  color: white;
}

a {
  color: sandybrown;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  color: sandybrown;
  background-color: black;
  font-weight: bold;
}

button:hover {
  background-color: steelblue;
}

